@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.search {
  display: flex;
  height: 100vh;
  /* align-items: center; */
  justify-content: center;
  font-size: 3rem;
  background-color: #000;
  color: #fff;
}


.nav-menu {
  background-color: #000000;
  width: 300px;
  height: 230px;
  /* display: flex; */
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 700ms;
  left: 0;
  border-radius: 5px;
}

.nav-menu.active{
  background-color: #000000;
  width: 100px;
  height: 230px;
  /* display: flex; */
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 700ms;
  left: 0;
  border-radius: 5px;
}

.navHomeAndSearch{
  background-color: #232323;
  height: 230px;
  border-radius: 5%;
  margin-top: 5%;
  margin-left: 5%
}

.navLibrary{
  background-color: #232323;
  height: 230px;
  border-radius: 5%;
  margin-top: 15%;
  margin-left: 5%
}

/* .navHomeAndSearch.active{
  background-color: #ff0000;
  height: 230px;
  border-radius: 5%;
  margin-top: 5%;
  margin-left: 5%;
  left: -100%;
  transition: 2000ms;
}

.navLibrary.active{
  background-color: #ff0000;
  height: 230px;
  border-radius: 5%;
  margin-top: 15%;
  margin-left: 5%;
  left: -100%;
  transition: 2000ms;
} */

/* .nav-menu.active {
  left: 0;
  transition: 650ms;
  height: 230px;
  border-radius: 5%;
} */


.nav-text {
  padding: 8px 0px 8px 16px;
  list-style-type: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #34ad00;
  color: #fff;
}

span {
  margin-left: 16px;
}


